  <ion-tabs>
    <ion-tab-bar slot="bottom" id="navigation_reservation">
      <ion-tab-button tab="reservation">
        <ion-icon name="paper-plane-outline"></ion-icon>
        Réservation
      </ion-tab-button>
      <ion-tab-button tab="carte">
        <ion-icon name="pin-outline"></ion-icon>
        Carte
      </ion-tab-button>
      <ion-tab-button tab="historique">
        <ion-icon name="list-circle-outline"></ion-icon>
        Historique
      </ion-tab-button>
      <ion-tab-button tab="parametres">
        <ion-icon name="settings-outline"></ion-icon>
        Paramètres
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

