<ion-toolbar id="reservation-toolbar">
</ion-toolbar>


<ion-content [fullscreen]="true" class="scroller" style="background-color: white; margin-bottom: 5%">
  <div class="container">
    <ion-img
      src="../../../assets/Ambulib.png"
      scale="0.5"
      alt="Logo de l'entreprise Ambulib"
    ></ion-img>
    <ion-text><h2>Réservation</h2></ion-text>
    <div id="form">
    <ion-item>
      <ion-input [(ngModel)]="date_rdv" name="date_rdv" label="Date du rendez-vous (*)" labelPlacement="stacked"  type="date"></ion-input>
    </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="heure_rdv" name="heure_rdv" label="Heure du rendez-vous (*)" labelPlacement="stacked"  type="time"></ion-input>
      </ion-item>
      <ion-item>
      <ion-select label="Etablissement (*)" labelPlacement="stacked" [(ngModel)]="etablissementSelected" placeholder="Choisir dans la liste">
        <ion-select-option *ngFor="let etablissement of etablissements" [value]="etablissement.id">
          {{ etablissement.nom }}
        </ion-select-option>
      </ion-select>
        <ion-button (click)="open();" expand="block" style="--background:#4B6F15">+</ion-button>
      </ion-item>
      <ion-item>
        <ion-select label="Société (*)" labelPlacement="stacked" [(ngModel)]="societeSelected" placeholder="Choisir dans la liste">
          <ion-select-option *ngFor="let societe of societes" [value]="societe.id">
            {{ societe.nom }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="type_sejour" label="Type de séjour (*)" labelPlacement="stacked" ></ion-input>
      </ion-item>
      <ion-item style="margin-bottom: 2%">
      <ion-button expand="block" style="--background:#4B6F15; margin-left: auto; margin-right: auto;" disabled>Déposer un bon de transport</ion-button>
      </ion-item>
      <ion-item style="margin-bottom: 5%">
        <ion-textarea [(ngModel)]="autres" label="Autre" labelPlacement="floating" placeholder="Entrer votre texte"></ion-textarea>
      </ion-item>
    </div>
    <ion-button (click)="postReservation()" expand="block" style="--background:#4B6F15; margin-bottom: 5%;">Envoyer ma réservation</ion-button>
  </div>



  <ion-modal [isOpen]="modal" trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="container">
          <ion-img
            src="../../../assets/Ambulib.png"
            scale="0.5"
            alt="Logo de l'entreprise Ambulib"
          ></ion-img>
        <ion-text>
          <h2>Nouvel établissement</h2>
        </ion-text>
        <ion-item>
              <ion-label position="floating">Nom <ion-text color="danger">(*)</ion-text> </ion-label>
              <ion-input [(ngModel)]="nom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Adresse <ion-text color="danger">(*)</ion-text> </ion-label>
          <ion-input [(ngModel)]="adresse"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Code postal <ion-text color="danger">(*)</ion-text> </ion-label>
          <ion-input [(ngModel)]="codepostal"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Ville <ion-text color="danger">(*)</ion-text> </ion-label>
          <ion-input [(ngModel)]="ville"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Pays <ion-text color="danger">(*)</ion-text> </ion-label>
          <ion-input [(ngModel)]="pays"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Téléphone<ion-text color="danger">(*)</ion-text> </ion-label>
          <ion-input [(ngModel)]="telephone"></ion-input>
        </ion-item>
        <ion-item style="margin-bottom: 5%">
          <ion-textarea [(ngModel)]="services" label="Services" labelPlacement="floating" placeholder="Entrer votre texte"></ion-textarea>
        </ion-item>
        <ion-button style="--background:#4B6F15; display: flex; margin-top: 5%; margin-bottom: 5%;" (click)="postEtablissement()">Confirmer</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>


