<ion-toolbar id="reservation-toolbar">
</ion-toolbar>


<ion-content [fullscreen]="true" class="scroller" style="background-color: white; margin-bottom: 5%">
  <div class="container">
    <ion-img
      src="../../../assets/Ambulib.png"
      scale="0.5"
      alt="Logo de l'entreprise Ambulib"
    ></ion-img>
    <ion-text><h2>Paramètres</h2></ion-text>
    <ion-card (click)="openModalSecurity(false)">
      <ion-card-header>
        <ion-card-title style="display: flex; align-items: center">
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-text>Infos personnelles</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Possibilité d'afficher et de modifier les informations personnelles
      </ion-card-content>
    </ion-card>
    <ion-card (click)="openModalSecurity(true)">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="shield-half-outline"></ion-icon>
          <ion-text>Sécurité</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Possibilité de changer un mot de passe
      </ion-card-content>
    </ion-card>
    <ion-card id="deconnection">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-text>Se déconnecter</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Possibilité de se déconnecter de l'application
      </ion-card-content>
    </ion-card>
  </div>

  <ion-alert
    trigger="deconnection"
    header="Déconnexion"
    message="Êtes vous sûr de vouloir vous déconnecter ?"
    [buttons]="alertButtons"
    (ionAlertDidDismiss)="onAlertDismissedDeconnection($event)"
  ></ion-alert>
</ion-content>

<ion-modal [isOpen]="modalChangeInfos" >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel(false)">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="container">
        <ion-img
          src="../../../assets/Ambulib.png"
          scale="0.5"
          alt="Logo de l'entreprise Ambulib">
        </ion-img>
        <ion-text style="margin-bottom: 10%;">
          <h2>Informations personnelles</h2>
        </ion-text>
        <ion-item>
          <ion-input label="Genre" [(ngModel)]="utilisateur.genre" style="opacity: 1;" labelPlacement="stacked"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Nom" [(ngModel)]="utilisateur.nom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Prénom" [(ngModel)]="utilisateur.prenom"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Email" type="email" [(ngModel)]="utilisateur.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Mot de passe" [(ngModel)]="utilisateur.login"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Date de naissance (*)" labelPlacement="stacked" placeholder="jj-mm-aaaa" type="date" [(ngModel)]="datenaissance"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Adresse" labelPlacement="stacked" [(ngModel)]="utilisateur.adresse"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Code postal" labelPlacement="stacked" [(ngModel)]="utilisateur.codepostal"> </ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label = "Ville" [(ngModel)]="utilisateur.ville"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Pays" [(ngModel)]="utilisateur.pays"></ion-input>
        </ion-item>
        <ion-item style="margin-bottom: 7%">
          <ion-textarea label="Antécédents à savoir" labelPlacement="floating" [(ngModel)]="utilisateur.antecedents"></ion-textarea>
        </ion-item>
        <ion-button id="confirm-2" (click)="confirmInfos()" style="--background:#4B6F15; margin-bottom: 5%">Confirmer</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="modalChangePassword" >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons>
          <ion-button (click)="cancel(true)">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="container">
        <ion-img
          src="../../../assets/Ambulib.png"
          scale="0.5"
          alt="Logo de l'entreprise Ambulib">
        </ion-img>
        <ion-text>
          <h2>Changer mot de passe</h2>
        </ion-text>
        <ion-item>
          <ion-input [(ngModel)]="oldPassword" label="Mot de passe actuel" labelPlacement="stacked"  type="password"></ion-input>
        </ion-item>
        <hr>
        <ion-item>
          <ion-input [(ngModel)]="newPassword" label="Nouveau mot de passe" labelPlacement="stacked"  type="password"></ion-input>
        </ion-item>
        <ion-item style="padding-bottom: 7%">
          <ion-input [(ngModel)]="newPassword2" label="Confirmation mot de passe" labelPlacement="stacked"  type="password"></ion-input>
        </ion-item>
        <ion-button id="confirm" (click)="confirmPassword()" style="--background:#4B6F15">Confirmer</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

